@import './common';
@import './example';

body {
	background-color: #7e36d4;
}

.search-form {
	display: flex;
	justify-content: center;
	padding: 30px;
	background-color: #4b168b;
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.search-form-input {
	width: 500px;
	padding: 15px;
	border-radius: 5px 0px 0px 5px;
	border-color: transparent;
	outline: none;
}

.search-form-btn {
	border-radius: 0px 5px 5px 0px;
	border-color: transparent;
	padding-right: 20px;
	padding-left: 20px;

	&:hover {
		background-color: #d9bbff;
	}
}

.gallery {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: center;
	padding: 25px;
}

.photo-card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #4b168b;
}

.card-link {
	width: 100%;
	flex-basis: calc(25% - 15px);
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.info {
	display: flex;
	justify-content: center;
	gap: 15px;
	padding: 15px;
}

.info-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	color: #fff;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.load-more {
	margin: 0 auto;
	display: block;
	border-radius: 5px;
	border-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	padding: 15px;

	&:hover {
		background-color: #d9bbff;
	}
}

.is-hidden {
	display: none;
}
